<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">View Items</h5>
        <p class="card-text">Access data from MongoDB Atlas</p>
        <a href="/data" class="btn btn-primary">View Items</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Account</h5>
        <p class="card-text">Manage your account settings</p>
        <a href="/users/logout" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </div>
</div> 